.cta {
    position: relative;

    p {
        font-size: 1.4rem;
        font-weight: 500;
        color: $color-gray-3;
    }

    &__input-box {
        width: 100%;
        background-color: $color-gray-6;
        height: 5rem;
        border-radius: 1.2rem;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__input {
        font-size: 1.8rem;
        color: $color-gray-1;
        background-color: inherit;
        width: 80%;
        height: 100%;
        margin-left: 2rem;
        margin-right: 2rem;

        border: none;
        outline: none;

        &::placeholder {
            color: $color-gray-4;
            font-weight: 500;
        }
    }

    &__btn {
        margin-right: 0.2rem;
        padding: 1rem 3rem;
    }
}

.cta--light {
    p {
        color: $color-gray-6;
    }

    &__input {
        color: $color-gray-4;
    }
}
