@mixin respond($breakpoint) {
    @if $breakpoint == mobile {
        @media only screen and (max-width: 37.5em) {
            @content;
        }
    }
    @if $breakpoint == tab-port {
        @media only screen and (max-width: 56.25em) {
            @content;
        }
    }
}

/* Base */
*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;

    @include respond(tab-port) {
        font-size: 50%;
    }
    @include respond(mobile) {
        font-size: 45%;
    }
}
body {
    font-family: "Space Mono", monospace;
    box-sizing: border-box;
    font-weight: 700;
    line-height: 1.4;
    @include respond(tab-port) {
        line-height: 1.2;
    }

    ::selection {
        background-color: #333;
        color: #fff;
    }
}

/* Container */
.container {
    background-color: #fff;
    margin: 0 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;

    @include respond(mobile) {
        margin: 0 3rem;
    }
}

/* Logo */
.logo {
    &__name {
        font-family: "Inconsolata", monospace;
        text-transform: uppercase;
        font-size: 2.4rem;
        padding: 2rem 0;
    }
}

/* Main */
.main {
    display: flex;

    @include respond(mobile) {
        flex-direction: column;
    }

    /* Section 1 */
    &__section-1 {
        flex: 1;

        @include respond(mobile) {
            text-align: center;
            margin-bottom: 5rem;
            margin-top: 3rem;
        }
    }

    &__img {
        width: 45rem;

        @include respond(tab-port) {
            width: 40rem;
        }
        @include respond(mobile) {
            width: 35rem;
        }
    }

    /* Section 2 */
    &__section-2 {
        flex: 1;
    }

    &__heading {
        font-size: 6rem;

        @include respond(tab-port) {
            font-size: 5rem;
        }
    }

    &__paragraph {
        font-weight: 400;
        font-size: 2rem;
        color: #4f4f4f;
        padding-right: 15rem;
        margin: 2rem 0 3rem 0;

        @include respond(tab-port) {
            font-size: 1.8rem;
        }

        @include respond(mobile) {
            padding-right: 0;
            margin: 4rem 0 6rem;
        }
    }
}

/* button */
.btn {
    padding: 1.5rem 3rem;
    background-color: #333;
    color: #fff;
    outline: none;
    font-size: 1.1rem;
    font-family: inherit;
    border: 1px solid;
    text-transform: uppercase;
    cursor: pointer;
}

/* footer */
.footer {
    align-self: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    color: #a9a9a9;

    @include respond(mobile) {
        font-size: 1.4rem;
        margin-top: 8rem;
    }
}
