:root {
    --gray-1: #333;
    --gray-2: #4f4f4f;
    --gray-3: #828282;
    --bg-1: #f2f2f2;

    --color-1: #2f80ed;

    --black: #000;
    --white: #fff;

    --fs-1: 2.4rem;
    --fs-2: 1.8rem;
    --fs-3: 1.6rem;
    --fs-4: 1.4rem;

    --fw-7: 700;
    --fw-6: 600;
    --fw-5: 500;
    --fw-4: 400;
}
